/*
   File: home.component.scss
   Student: Yiu Wai Yeung
   StudentID: 301268515
   Date: June 9, 2023
*/
h1, h4{
    text-align: center;
}
a{
    margin-left: 925px;
}
#welcome{
    margin-left: 700px;
  }