<img id="project1" src="../assets/images/project1.jpg" height="500" width="750">
<h4>This is a project of my last semester.<br>
    This project is to create a real estate website for people who is interested to purchase,<br>
    and this is a individual project so I'm in charge to the whole project.</h4>
    <br>
<img id="project2" src="../assets/images/project2.jpg" height="500" width="750">
<h4>This is anothor project of my last semester.<br>
    This project is to create a website about something popular to sale,<br>
    and this is a individual project so I'm in charge to the whole project.
</h4>