/*
   File: projects.component.scss
   Student: Yiu Wai Yeung
   StudentID: 301268515
   Date: June 9, 2023
*/
h4{
    text-align: center;
    color: red;
    background-color: bisque;
}
#project1{
    margin-left: 550px;
}
#project2{
    margin-left: 650px;
}