<!DOCTYPE html>
<html>
<head>
  <title>Our Services</title>
</head>
<!--This is my services page.-->
<body>
  <main>
    <section class="service">
      <h2>Web Development</h2>
      <img src="../assets/images/web-development-image.jpg" height="100" width="200">
      <p>My skills of web development can bring your ideas to life and create stunning, responsive websites. Whether you need a simple landing page, an e-commerce platform, or a complex web application, we've got you covered.</p>
    </section>
    <section class="service">
      <h2>Mobile App Development</h2>
      <img src="../assets/images/mobile-app-development-image.jpg" height="100" width="200">
      <p>In the ever-growing mobile market, having a presence on smartphones and tablets is essential. Our experienced mobile app developers can build native or cross-platform mobile applications that engage your users and deliver seamless experiences.</p>
    </section>
  </main>
</body>
</html>

