<p>
  <mat-toolbar>
    <span>My Personal Portfolio Site</span>
  </mat-toolbar>
</p>
<img id="myLogo" src="../assets/images/myLogo.jpg" height="100" width="150">
<mat-toolbar>
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="about" routerLinkActive="active">About</a>
    <a routerLink="projects" routerLinkActive="active">Projects</a>
    <a routerLink="services" routerLinkActive="active">Services</a>
    <a routerLink="contact" routerLinkActive="active">Contact me</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>

