/*
   File: app.component.scss
   Student: Yiu Wai Yeung
   StudentID: 301268515
   Date: June 9, 2023
*/
.example-spacer {
    flex: 1 1 auto;
  }
#myLogo{
    margin-left: 875px;
}
a{
  margin-right: 20px;
}
#welcome{
  margin-left: 700px;
}
span{
  margin-left: 825px;
  color: brown;
}