<html>
    <section>
        <!--This is my introduction.-->
        <h1>Things About me</h1>
        <h3>Hi everyone, my name is Yiu Wai Yeung and you can call me Ryan and I come from Hong Kong.<br>
        Currently, I'm studying on Software engineering Technician course in Centennial College, <br>
        and I'm in my third semester. This is my first time to live outside of Hong Kong for a <br>
        long term, but fortunately Toronto is similar to Hong Kong so I adapted the western life
        style quickly.<br>
        <img src="../assets/images/personalPic.jpeg" height="150" width="100">
        </h3>
    </section>
</html>